.header {
    background: #000;
    color: #fff;
    height: 50px;
    padding: 6px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding-left: 20%;
    padding-right: 15%;
}

.actions {
    display: flex;
}

.actions > div {
    margin-left: 3em;
    cursor: pointer;
}

.header .demo-icon {
    border: 3px solid #8e8e8e;
    border-radius: 50%;
    padding: 5px;
}

@media only screen and (max-width: 767px) {
    .header {
        padding-left: 0;
        padding-right: 0;
    }

    .header .actions {
        display: none;
    }

    .header > img {
        margin: 0px auto;
    }
}